!!!
%html
  %head
<<<<<<< HEAD
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
=======
    %meta{content: "text/html; charset=UTF-8", http-equiv: "Content-Type"}/
>>>>>>> 7ad3877bcb541e81497889f0a63671b73c1b1fd3
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
